h1 { 
  text-align: center;
  color: red
}
i, span, b, strong {
  color: green;
  text-decoration: underline;
}
em{
  color: olive;
}

ol, ul {
  border: 1px solid lightcoral;
}

img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
  